.mainWrapper {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-image:url('../../assets/stock-illustration-virtual-tecnology-space-vector-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.mainNavWrapper {
    display:flex;
    justify-content:space-between;
}

.deckSelectorContainer {
    text-align: center;
    padding:15px;
    text-shadow: 0 0 3px rgba(48, 46, 46, 0.438)
}

.mainButtonContainer {
    padding:10px;
}

.linkContainer {
    margin: 15px;
}

.mmButton {
    margin:5px;
    background:none;
    padding:10px;
    cursor:pointer;
    border-radius:6px;
    background:rgba(46, 190, 70, 0.651);
    transition-property: all;
    transition-duration: .3s;
    transition-delay: .1s;
}

.mmButton:hover {
    box-shadow: 0px 0px 8px rgba(48, 48, 48, 0.5);
    background:rgba(34, 143, 52, 0.651);
    transform-origin:center;
    transform: scale(1.08, 1.08);
}


.defeatDisplayWrapper {
    text-shadow: 0 0 3px rgba(48, 46, 46, 0.438);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-image:url('../../assets/stock-illustration-virtual-tecnology-space-vector-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.victoryDisplayWrapper {
    text-shadow: 0 0 3px rgba(48, 46, 46, 0.438);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-image:url('../../assets/stock-illustration-virtual-tecnology-space-vector-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.rulesButton {
    background-color:rgba(4, 151, 24, 0.63);
    font-size: 15px;
    font-weight:700;
    cursor:pointer;
    position: fixed;
    top:5%;
    right:5%;
    border-radius:50%;
    height:70px;
    width:70px;
}

.friendsListModal {
    background-color:rgba(185, 185, 185, 0.932);
    text-align:center;
    padding:20px;
    border-radius: 25px;
}


.status {
    display:flex;
    justify-content:center;
    align-items:center;
}

.online {
    border-radius:50%;
    height:10px;
    width:10px;
    background-color:green;
    margin-right:5px;
}

.offline {
    border-radius:50%;
    height:10px;
    width:10px;
    background-color:grey;
    margin-right:5px;
}

.ingame {
    border-radius:50%;
    height:10px;
    width:10px;
    background-color:red;
    margin-right:5px;
}