.navbar {
    display:flex;
    justify-content:space-around;
    padding-top: 10px;
    padding-bottom:10px;
    background-color:rgba(15, 23, 129, 0.897);
}

.navlink {
    text-align: center;
    width:25vw;
}

.link {
    color:white;
    font-size: 18px;
    text-decoration:none;
    cursor: pointer;
}

.link:hover {
    font-size: 18px;
    text-decoration: underline;
}

.current {
    color:white;
    font-size: 18px;
    font-weight:700;
    text-decoration:underline;
    cursor: pointer;
}