.boardWrapper {
    display:grid;

}

.handWrapper {
    display:flex;
}

.playerUnitBoard {
    display:flex;
}

.playerUnit {
    display:flex;
    justify-content:center;
    align-items:center;
    padding:5px;
    height: 255px;
    width: 205px;    
    border: 1px solid black;
    box-sizing: border-box;
    margin: 15px;
}

.opponentUnitBoard {
    display:flex;
}

.opponentUnit {
    display:flex;
    justify-content:center;
    align-items:center;
    padding:5px;
    height: 255px;
    width: 205px;      
    border: 1px solid black;
    box-sizing: border-box;
    margin: 15px;
}

.actionButton {
    background-color:rgba(206, 0, 0, 0.8);
    color:white;
    font-size: 14px;
    font-weight:700;
    cursor:pointer;
    position: fixed;
    bottom:10%;
    right:5%;
    border-radius:50%;
    height:120px;
    width:120px;
    transition-property: all;
    transition-duration: .3s;
    transition-delay: .1s;
}

.actionButton:hover {
    box-shadow: 0px 0px 14px rgba(121, 0, 0, 0.8);
    background-color:  rgb(155, 0, 0);
    color:rgb(199, 199, 199);
    font-weight:700;
    font-size: 16px;
    transform-origin:center;
    transform: scale(1.05, 1.05);
    }